section#quality {
  padding: 3rem 0;
  margin-top: 2rem;
}
section#quality .container .quality-card {
  border: 2px solid var(--green);
  padding: 2rem;
  width: 22rem;
  height: 20rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.7rem;
  margin-bottom: 2rem;
}
section#quality .container .quality-card .fas {
  font-size: 4rem;
  color: var(--green);
}
